<footer>
    <div class="footer-container">
        <p class="copyright">© 2024 Bratty Threadz Boutique</p>
        <div class="social-icons">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </div>
</footer>

</body>
</html>