<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabriela&family=Shrikhand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>
        <h1 class="title"><a href="/"> Bratty Threadz Boutique</a> </h1>
        <nav>

            <div class="search">
                <form action="/search" method="GET" class="searchForm">
                    <input type="text" name="query" placeholder="Browse items by item name or seller.." required>
                    <button class="searchBtn" type="submit">Search</button>
                </form>
                
                
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/items">Browse</a></li>
                <li><a href="/new">Sell</a></li>
                <% if (user) { %>   
                    <li><a href="/users/profile">My Account</a></li>
                    <li><a href="/users/logout">Log Out</a></li>
                <% } else { %>
                    <li><a href="/users/new">Sign Up</a></li>
                    <li><a href="/users/login">Login</a></li>
                <% } %>
            </ul>

    
        </nav>


    
    </header>

    <div classs="errorContainer">
        <% if(errorMessages.length > 0) {%>
            <% errorMessages.forEach(message=>{%>
                <div class='error'>
                    <%=message%>
                </div>
                <%});%>
                    <%}%>
        
                        <% if(successMessages.length > 0) {%>
        
                            <% successMessages.forEach(message=>{%>
                                <div class='success'>
                                    <%=message%>
                                </div>
                                <%});%>
                                    <%}%>
    </div>
