<%- include('../partials/header.ejs') %>

<body>

    <h1 class="intro">Welcome to Bratty Threads!</h1>
    <p>Our Y2k favorites are specially curated by amazing sellers. We hope you find your perfect brat looks!</p>

    <div class="body-photos">
        <div class="row">
            <img class="home-img" src="/photos/body-photo1.jpeg" alt="photo1">
            <img class="home-img" src="/photos/body-photo2.jpeg" alt="photo2">
            <img class="home-img" src="/photos/body-photo3.jpeg" alt="photo3">
            <img class="home-img" src="/photos/body-photo4.jpeg" alt="photo4">
        </div>
        <div class="row">
            <img class="home-img" src="/photos/body-photo5.jpeg" alt="photo5">
            <img class="home-img" src="/photos/body-photo6.jpeg" alt="photo6">
            <img class="home-img" src="/photos/body-photo7.jpeg" alt="photo7">
            <img class="home-img" src="/photos/body-photo8.jpeg" alt="photo8">
        </div>

    </div>
</body>

<%- include('../partials/footer.ejs') %>